body {
    background: #96a1a6 url(../img/background5.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background: rgba(66, 66, 66, 0.25);
    width: 100%;
    top: 0;
    height: 110px;
    color: blueviolet;
    border-bottom: 4px solid rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 3;
}

.head {
    width: 390px;
    margin: auto;

}

header img{
    width: 215px;
    height: 93px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}

.features {
    margin-left: auto;
    text-align: center;
    word-wrap: break-word;
}

.features h1{
    font-size: 50px;
    margin-top: 150px;
    color: #ffffff;
    font-family: "Gothland";
}

.features p{
    max-width: 400px;
    margin: 20px 12px;
    color: #ffffff;
    font-family: Roboto;
}


.timer form{
    height: 96.5px;

}
.timer div{
    width: 200px;
    height: 106.5px;
    margin: 20px auto;
    margin-bottom: 10px;
}

.timer input{
    margin-top: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    font-family: inherit;
    font-size: 23px;
    font-weight: 400;
    color: #ffffff;
    background-color: rgba(66, 66, 66, 0.25);
    backdrop-filter: blur(6px);
    border: 2px solid #ffffff;
    border-radius: 7px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="number"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: Roboto;
    font-size: 22px;
}

#time-delete{
    margin-top: 170px;
}


.alert-warning h3{
    color: #ffffff;
    font-family: Roboto;
    font-size: 30px;
}

#url {
    color: rgb(245, 199, 20);
    transition: all 0.4s;
    font-family: "Gothland";

}
#url:hover{
    color: #e5691e;
}

div .alert-warning {
    width: 500px;
    margin: 20px auto;
    text-align: left;
    background-color: rgba(66, 66, 66, 0.25);
    backdrop-filter: blur(10px);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;

}

a{
    font-family: "Gothland";
    font-size: 30px ;
    text-decoration: none;
    color: #000000;
}

.btn-warning {
    color:transparent;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btn-warning:hover{
    background: rgba(120, 152, 213, 0.4);
    border-color: white;
}
.btn-warning p{
    color: white;
    margin: 0;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 1.3px;
}


.btn-danger {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid white;
    overflow:hidden;
    display:inline-block;
    font-weight:bold;
    color:transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btn-danger:hover{
    background-color: #d64240;
    border-color: #d64240;
}

.btn-danger p{
    background: url(../img/background5.jpg) -9px -7px repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display:block;
    margin: 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.3px;
}

.btn-success {
    color:transparent;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0);
    margin-bottom: 20px;
}

.btn-success:hover {
    background: rgba(120, 152, 213, 0.4);
    border-color: white;
}
.btn-success p{
    color: white;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.3px;
}

.forma .form-control{
    margin:0 auto;
    width: 1000px;
    font-family: Roboto;
    border: solid 3px #ffffff;
    border-bottom-radius: 2px;
    background-color: rgba(66, 66, 66, 0.25);
    backdrop-filter: blur(5px);
    color: #ffffff !important;
    font-size: 18px;
}

input[type="text"]::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.8);
    font-family: Roboto;
    font-size: 18px;
}

#link{
    margin: 170px auto;
}
.back {
    margin-top: 10px;
}

.delete{
    border: 2px solid rgb(255, 255, 255);
    width: 250px;
    height: 30%;
    background-color: rgba(66, 66, 66, 0.25);
    backdrop-filter: blur(5px);
    color: #ffffff;
    margin: 0 auto;
    margin-top: 25vh;
    padding: 20px;
    border-radius: 10px;

}

.delete h3{
    text-align: center;
    font-family: Roboto;

}

.delete button{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 200px;
}


@font-face {
font-family: "Gothland";
src: url("../fonts/Gothland.ttf") format("truetype");
font-style: normal;
font-weight: normal;
 }
